{#
/**
 * @file
 * Default theme implementation for a Culturefeed search page.
 *
 * Available variables:
 * - search_form: The search form
 * - result_count: The result count
 * - results: The search results
 * - pager: The search pager
 * - result_count_summary: The result count summary (x items of total)
 *
 * @see template_preprocess_culturefeed_agenda_search_page()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'culturefeed-search-page',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if search_form %}
  <div>
    {{ search_form }}
  </div>
  {% endif %}

  {% if active_filters %}
    <div>
      {{ active_filters }}
    </div>
  {% endif %}

  {% if result_count %}
  <div>
    {{ result_count }}
  </div>
  {% endif %}

  {% if results %}
  <div>
    {{ results }}
  </div>
  {% endif %}

  {% if result_count_summary %}
    <div>
      {{ result_count_summary }}
    </div>
  {% endif %}

  {% if pager %}
  <div>
    {{ pager }}
  </div>
  {% endif %}
</div>
